/target/
.project
.settings
.classpath
/data/



/node_modules/
/frontend/generated/
webpack.generated.js
/.*
pnpm-lock.yaml
package.json
tsconfig.json
types.d.ts
webpack.config.js
/frontend/index.html


